extends ../layout.pug

mixin lista(arr)
    ul 
        each item in arr
            li= item
        else 
            li No tiene datos

block contenido
    h2 Cabecera de la página
    div
        p Texto del párrafo
        a(href="http://www.google.com", target="_blank", class="enlace") Google.com
        a#enlacePpal.enlace.rojo Otro enlace
        p= mensaje
        p El mensaje es: #{mensaje}
    .segundo 
        // Comentario HTML
        //- Comentario PUG
        case numProductos 
            when 0
                p No tienes productos 
            when 1
                p Tienes un producto 
            default
                p Tienes #{numProductos} productos!
    .tercero 
        //- Código Javascript
        ul
            - for(let i = 0; i<nombres.length; i++)
                li= nombres[i]

    .cuarto 
        //- Condicionales
        if activo
            p Está activo
        else
            p No está activo

    .quinto
        //- Iteradores
        //- - nombres = []
        ol 
            each nombre, index in nombres
                li #{index} #{nombre}
            else
                li No hay nombres

    .sexto 
        //- Mixin
        +lista(nombres)
        +lista([])
        +lista([1,2,365,32,66,90])


    block footer
        footer Lista de productos