extends ../layout.pug

block content
    h2 Crear un nuevo cliente
    form(action="/clientes/create", method="POST", novalidate)
        .form-group.mb-4 
            label.form-label Nombre
            input.form-control(
                type="text", 
                placeholder="Introduce el nombre",
                name="nombre")
        .form-group.mb-4
            label.form-label Apellidos
            input.form-control(
                type="text", 
                placeholder="Introduce los apellidos",
                name="apellidos")
        .form-group.mb-4 
            label.form-label Email
            input.form-control(
                type="email", 
                placeholder="Introduce el email",
                name="email")
        .form-group.mb-4 
            label.form-label Cuota
            select.form-select(name="cuota")
                option Elige tu cuota
                option(value="9.99") Semanal (9.99€)
                option(value="19.99") Mensual (19.99€)
                option(value="79.99") Anual (79.99€)
        .form-check.mb-4 
            label.form-check-label Activo
            input.form-check-input(
                type="checkbox",
                name="activo")
        input.btn.btn-block.btn-info(type="submit", value="Enviar")